.loginContentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  overflow: auto;
  color: white;
  height: 100%;
}

.formOverlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
}

.loginForm {
  display: flex;
  flex-direction: column;
  background: #333D54;
  box-shadow: 0px 0px 10px #19253F;
  border-radius: 13px;
  border: 0.3px solid #ffffff81;
}

.loginHeader {
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
  font-size: 1.2em;
  border-bottom: 0.3px solid #141c2554;
}

.loginFormbody {
  padding: 30px 15px;
}

.requiredLabel {
  display: flex;
  gap: 5px;
  color: var(--textColor);
  font-weight: 600;
  font-size: 14px;
}

.requiredLabel span {
  color: #C79353;
  font-size: 20px;
}

.formInput {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #6E747A;
  border-radius: 28px;
  padding-left: 15px;
}

.formInput input {
  width: 100%;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  color: white;
  background-color: transparent;
}

.formInput input:focus {
  outline: none;
}

.formInput input::placeholder {
  color: #ffffff67;
}

.inputPasswordWrapper {
  display: flex;
  position: relative;
}

.inputPasswordWrapper input {
  width: 88%;
  margin: 0 auto 0 0;
}

.passwordEye {
  position: absolute;
  right: 12px;
  bottom: 14px;
  color: white;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
}

.forgotPassword div {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 0;
}

.apiResponseLoader {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 5px 0;
  color: white;
}

.apiResponseLoader div:nth-child(2) {
  padding: 0 15px;
  font-weight: bold;
  text-align: center;
}

.inputPhone::placeholder {
  color: #F7DB89;
  opacity: 30%;
}

.submitButton {
  margin-top: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 0px;
  color: white;
  border: none;
  background: transparent linear-gradient(180deg, #19253F 0%, #0E172A 100%) 0% 0% no-repeat padding-box;
  border-radius: 28px;
  cursor: pointer;
  width: 100%;
}

.submitButton:hover {
  background: transparent linear-gradient(180deg, #0E172A 0%, #19253F 100%);
}

.loading {
  background-image: linear-gradient(180deg, #9a9a9a, #a2a2a2 58%, #909090 83%, #d5d9dc);
}

.loginSection {
  margin-top: 17px;
  text-align: center;
}

.loginLink {
  margin-left: 0.4rem;
  color: white;
  text-decoration: underline;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.error {
  color: rgb(236, 72, 72);
  font-size: 0.8rem;
  margin-top: 10px;
  text-align: center;
}