.registerWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  overflow: auto;
  color: white;
  height: 100%;
}

.formOverlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
}

.registerForm {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #19253F;
  border-radius: 13px;
  background: #333D54;
  border: 0.3px solid #ffffff81;
}

.registerHeader {
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
  font-size: 1.2em;
  border-bottom: 0.3px solid #141c2554;
}

.registerFormbody {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.agentIdWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.agentIdWrapper span:nth-child(1) {
  font-size: 12px;
  color: white;
}

.agentIdWrapper span:nth-child(2) {
  font-weight: bold;
  color: #F7DB89;
}

.requiredLabel {
  display: flex;
  gap: 5px;
  color: var(--textColor);
  font-weight: 600;
  font-size: 14px;
}

.requiredLabel span {
  color: #C79353;
  font-size: 20px;
}

.formInput {
  display: flex;
  align-items: center;
  background-color: #6E747A;
  border-radius: 28px;
  padding-left: 15px;
}

.formInput input {
  width: 100%;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  color: white;
  background-color: transparent;
}

.formInput input:focus,
.formInput input:active,
.formInput input:focus-within {
  border: none;
  outline: none;
}

.formInput input::placeholder {
  color: #ffffff67;
}

.successPhoneNumber {
  background-color: rgb(25, 155, 86);
}

.errorPhoneNumber {
  display: flex;
  background-color: red;
}

.registerButton {
  margin-top: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 0px;
  color: white;
  border: none;
  background: transparent linear-gradient(180deg, #19253F 0%, #0E172A 100%);
  border-radius: 28px;
  cursor: pointer;
  width: 100%;
}

.registerButton:hover {
  background: transparent linear-gradient(180deg, #0E172A 0%, #19253F 100%);
}

.loading {
  background-image: linear-gradient(180deg, #9a9a9a, #a2a2a2 58%, #909090 83%, #d5d9dc);
}

.loginSection {
  margin-top: 17px;
  text-align: center;
}

.loginLink {
  margin-left: 0.4rem;
  color: white;
  text-decoration: underline;
}

.error {
  color: rgb(236, 72, 72);
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: center;
}

/* .inputPasswordArea {
  display: flex;
  border-bottom: 1px solid #F7DB89;
  background-color: transparent;
  align-items: center;
  padding-right: 10px;
} */

/* .formInput span {
  display: block;
  margin-bottom: 10px;
} */

/* .inputPassword {
  font-size: 1rem;
  color: #F7DB89;
  border-radius: 0.03rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  max-width: 95%;
} */

/* .inputPassword:active,
.inputPassword:focus-visible {
  border: none;
  outline: none;
} */

/* .passwordEye {
  cursor: pointer;
  color: #F7DB89;
} */

/* .success {
  color: #8ee18e;
  font-size: 0.8rem;
  margin-top: 5px;
} */

/* .iconsStyle {
    display: 'flex';
    align-items: 'center';
    gap: 5;
} */

/* .captchaImage {
    position: absolute;
    right: 0.1rem;
    top: 0.11rem;
    display: block;
    height: 0.6rem;
} */

/* Chrome, Safari, Edge, Opera */
/* .inputPhone::-webkit-outer-spin-button,
.inputPhone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

/* Firefox */
/* input[type=number] {
    -moz-appearance: textfield;
} */

/* .loadingSection {
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;
} */

/* 
.loadingSection {
    background-color: #304063;
    position: absolute;
    top: 50%;
    left: 38%;
    width: 400px;
} */

/* .loadingSection h3 span {
    font-size: 1.5rem;
    color: #e94c00;
}

.loadingSection .loadingHeading {
    font-size: 0.9rem;
}

.loadingSection span {
    font-size: 0.8rem;
    color: rgb(202, 202, 202)
}

.loadingSection .failedError {
    font-size: 1.1em;
    display: block;
} */

/* .errorModal {
    color: white;
    background-color: #304063;

} */


/* @media only screen and (max-width: 900px) {
    .loadingSection {
        background-color: #304063;
        position: absolute;
        top: 40%;
        left: 5%;
        width: 80%;
    }
} */