.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
    max-width: 70%;
}

.title {
    color: white
}

.inputPhone {
    font-size: 1rem;
    color: #fff;
    border-radius: 0.03rem;
    padding: 10px;
    border: 1px solid #424a62;
    background-color: #304063;
    overflow: hidden;
    max-width: 95%;
}

.formInput {
    text-align: left;
    color: white;
    padding: 10px 0;
    max-width: 100%;
}

.formInput input {
    width: 100%;
}

.formInput span {
    display: block;
    margin-bottom: 10px;
}


.inputPhone::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #566080;
    opacity: 1;
    /* Firefox */
}

.inputPhone:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #566080;
}

.inputPhone::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #566080;
}


.registerButton {
    margin-top: 0.4rem;
    border-radius: 0.03rem;
    border: none;
    background-image: linear-gradient(180deg, #fff, #f8fcfd 58%, #cdd2d8 83%, #d5d9dc);
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 10px;
    text-align: center;
    color: #202c46;
    border-radius: 0.03rem;
}

.iconsStyle {
    display: 'flex';
    align-items: 'center';
    gap: 5;
}

.loading {
    background-image: linear-gradient(180deg, #9a9a9a, #a2a2a2 58%, #909090 83%, #d5d9dc);

}

.error {
    color: rgb(236, 72, 72);
    font-size: 0.8rem;
    margin-top: 5px;
}


.success {
    color: rgb(49, 156, 81);
    font-size: 0.8rem;
    margin-top:5px;
}



.captchaImage {
    position: absolute;
    right: 0.1rem;
    top: 0.11rem;
    display: block;
    height: 0.6rem;
}

.loginSection {
    color: white;
    margin-top: 15px;
}

.loginLink {
    margin-left: 0.4rem;
    color: #ffd08a;
    text-decoration: underline;
}


/* Chrome, Safari, Edge, Opera */
.inputPhone::-webkit-outer-spin-button,
.inputPhone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



.loadingSection {
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;
}

.inputPasswordArea {
    display: flex;
    border: 1px solid #424a62;
    background-color: #304063;
    align-items: center;
    padding-right: 10px;
}

.inputPassword {
    font-size: 1rem;
    color: #fff;
    border-radius: 0.03rem;
    padding: 10px;
    border: none;
    background-color: #304063;
    overflow: hidden;
    max-width: 95%;
}


.inputPassword:active,
.inputPassword:focus-visible{
    border: none;
    outline: none;
}


.passwordEye {
    cursor: pointer;
}

.loadingSection {
    background-color: #304063;
    position: absolute;
    top: 50%;
    left: 38%;
    width: 400px;
}

.loadingSection h3 span{
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
}


.loadingSection .loadingHeading {
    font-size: 0.9rem;
}

.loadingSection span {
    font-size: 0.8rem;
    color: rgb(202, 202, 202)
}

.loadingSection .failedError {
    font-size: 1.1em;
    display: block;
}




.errorModal {
    color: white;
    background-color: #304063;

}


@media only screen and (max-width: 900px) {
    .loadingSection {
        background-color: #304063;
        position: absolute;
        top: 40%;
        left: 5%;
        width: 80%;
    }
}


