.cockfightSectionOverlay {
  display: flex;
  flex-direction: column;
  border: 1px solid #F7DB89;
  border-radius: 10px;
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
}

.cockfightSectionOverlay span {
  background: transparent linear-gradient(180deg, #F6DA87 0%, #E1BB4E 100%) 0% 0% no-repeat padding-box;
  border-radius: 7px 7px 0px 0px;
  color: #000000;
  font-size: 20px;
  padding: 6px 0px;
  font-family: 'Great Vibes';
  font-weight: 600;
  letter-spacing: 2px;
}

.cockfightSection {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  min-height: 180px;
  align-items: center;
}

.cockfightSection .myLink {
  background: linear-gradient(55deg, #E94C00 15%, #FFC9A0 37%, #E94C00 40%) center right / 300% 100% no-repeat;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.7em;
}

.userInfoSection {
  color: white;
  padding: 5px;
  border-radius: 20px;
  width: 70%;
  margin: auto;
}

.copyButton {
  color: #428dfc;
  border-radius: 0.3rem;
  padding: 5px 10px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.copyButton:active {
  padding: 8px 16px;
}

.bankDetailItem {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grayLabel {
  font-weight: 500;
  color: rgb(210, 210, 210);
  font-size: 0.7rem;
}


.grayValue {
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}