.promotionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.promotionContent {
    flex: 1;
    overflow: auto;
}

.promotionHeader {
    border-bottom: 1px solid white;
}

.headerButtons {
    display: flex;
    justify-content: space-around;
}