.promoOverlay {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.promoHeader {
  display: flex;
  align-items: center;
  padding: 13px 5px;
  background-color: #10192D;
}

.promoBackIcon {
  color: #FCE8AE;
  cursor: pointer;
}

.promoTitle {
  color: #FCE8AE;
  font-weight: 600;
  font-size: 1rem;
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
}

.promoWrapper {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* .promoTabsOverlay {
  padding: 0 0 0 15px;
  margin: 5px 0;
} */

.promoBodyOverlay {
  flex-grow: 1;
  overflow: auto;
  /* margin-top: 10px; */
}

.promoBodyContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
}

.promoBodyContent img {
  cursor: pointer;
}

@media only screen and (max-width: 360px) {
  .promoHeader {
    padding: 9.5px 2px;
  }
}