.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.withdrawWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.section {
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  padding-top: 15px;
}

.banksSection {
  margin-bottom: 20px;
  max-height: 300px;
  overflow: auto;
}

.bankCard {
  padding: 10px;
  width: 90%;
  margin: auto;
  text-align: left;
  cursor: pointer;
  color: white;
  background: transparent linear-gradient(90deg, #4D576E 0%, #333D54 100%);
  border: 1px solid white;
  border-radius: 10px;
}

.bankCard:hover {
  background: transparent linear-gradient(90deg, #333D54 0%, #4D576E 100%);
}

.bankCard span {
  font-size: 12px;
}

input[type='radio'] {
  accent-color: white;
}

.inputItem {
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 4px 3px 4px 8px;
  margin-top: 15px;
  background-color: #333D54;
  border: 0.02rem solid white;
}

.inputItem pre {
  padding: 0 5px;
  font-size: 0.8rem;
  color: white
}

.inputItem .whiteInput {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: transparent;
  text-align: center;
}

.whiteInput::placeholder {
  color: #ffffff67;
  opacity: 0.3;
  text-align: center;
}

.inputItem .whiteInput:focus,
.inputItem .whiteInput:hover,
.inputItem .whiteInput:active,
.inputItem .whiteInput:focus-visible {
  outline: none;
  border: none;
}

.submitButton {
  margin: 10px 0px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 0px;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: white;
  border: 1px solid white;
  background: transparent linear-gradient(180deg, #19253F 0%, #0E172A 100%) 0% 0% no-repeat padding-box;
  border-radius: 28px;
}

.submitButton:hover {
  background: transparent linear-gradient(180deg, #0E172A 0%, #19253F 100%);
}

.divider {
  height: 0.32rem;
  border-bottom: 1px solid white;
  line-height: 0;
  font-size: 0;
  position: relative;
}

.addButton {
  padding: 0.4rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 0.45rem;
  bottom: -1.2rem;
  color: #21060D;
  font-weight: 600;
  cursor: pointer;
}

.formSection {
  margin-top: 30px;
}

.balanceSection {
  font-size: 0.8rem;
  color: rgb(118, 117, 117);
}