.agencyRegisterWrapper {
  flex-grow: 1;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  overflow: auto;
  color: white;
  height: 100%;
}

.agencyRegisterFormOverlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 10px auto;
}

.agencyRegisterForm {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #19253F;
  border-radius: 13px;
  background: #333D54;
  border: 0.3px solid #ffffff81;
}

.agencyRegisterFormHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 0.3px solid #141c2554;
}

.agencyRegisterFormBody {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error {
  color: rgb(236, 72, 72);
  font-size: 0.8rem;
  /* margin-top: 5px; */
}

.success {
  color: #8ee18e;
  font-size: 0.8rem;
  /* margin-top: 5px; */
}

.requiredLabel {
  display: flex;
  gap: 5px;
  color: var(--textColor);
  font-weight: 600;
  font-size: 14px;
}

.requiredLabel span {
  color: #C79353;
  font-size: 20px;
}

.formInput {
  display: flex;
  align-items: center;
  background-color: #6E747A;
  border-radius: 28px;
  padding-left: 15px;
}

.formInput input {
  width: 100%;
  font-size: 16px;
  border: none;
  padding: 15px 0;
  color: white;
  background-color: transparent;
}

.formInput input:focus,
.formInput input:active,
.formInput input:focus-within {
  border: none;
  outline: none;
}

.formInput input::placeholder {
  color: #ffffff67;
}

.successPhoneNumber {
  background-color: rgb(25, 155, 86);
}

.errorPhoneNumber {
  display: flex;
  background-color: red;
}

.passwordEye {
  cursor: pointer;
  color: white;
  padding-right: 10px;
  font-size: 22px;
}

.agencyRegisterSubmitButton {
  margin-top: 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 0px;
  color: white;
  border: none;
  background: transparent linear-gradient(180deg, #19253F 0%, #0E172A 100%);
  border-radius: 28px;
  cursor: pointer;
  width: 100%;
}

.agencyRegisterSubmitButton:hover {
  background: transparent linear-gradient(180deg, #0E172A 0%, #19253F 100%);
}

.loading {
  background-image: linear-gradient(180deg, #9a9a9a, #a2a2a2 58%, #909090 83%, #d5d9dc);
}


/* .inputPasswordArea {
  display: flex;
  background-color: transparent;
  align-items: center;
  border-bottom: 1px solid #F7DB89;
} */

/* .inputPhone {
  font-size: 1rem;
  color: #F7DB89;
  border-radius: 0.03rem;
  padding: 10px;
  padding-left: 0px;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

.inputPhone.error {
  border-bottom: 1px solid red;
}

.inputPhone:focus {
  outline: none;
}

.inputPhone::placeholder {
  color: #F7DB89;
  opacity: 0.3;
} */

/* .inputPassword {
  font-size: 1rem;
  color: #F7DB89;
  border-radius: 0.03rem;
  padding: 10px;
  padding-left: 0px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  max-width: 95%;
} */

/* .inputPassword:active,
.inputPassword:focus-visible {
  border: none;
  outline: none;
} */

/* .label {
  color: white;
  display: block;
  text-align: left;
  margin-bottom: 5px;
} */

/* .select {
  padding: 10px;
  padding-left: 0px;
  border: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-top: 5px;
  background-color: transparent;
  color: #F7DB89;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #F7DB89;
  outline: none;
}

.select option {
  background-color: #19253F;
} */

/* .inputItem {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px;
  border-bottom: 1px solid #F7DB89;
} */

/* .inputItem .whiteInput {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0px;
  font-size: 1em;
  background-color: transparent;
  color: #F7DB89;
  font-family: 'Be Vietnam Pro', sans-serif;
} */

/* .inputItem .whiteInput:nth-child(2) {
  padding-left: 5px;
}

.inputItem .whiteInput:focus,
.inputItem .whiteInput:hover,
.inputItem .whiteInput:active,
.inputItem .whiteInput:focus-visible {
  outline: none;
} */