.agencyRegisterOverlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.agencyRegisterWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  overflow: auto;
}

.titleWrapper {
  color: #F7DB89;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0px;
}

.titleWrapper h3 {
  margin: 0;
}

.agencyRegisterFormOverlay {
  width: 90%;
  margin: 10px auto;
}

.agencyRegisterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #263351 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #19253F;
  border-radius: 13px;
  padding: 10px 20px;
  padding-bottom: 30px;
}

.error {
  color: rgb(236, 72, 72);
  font-size: 0.8rem;
  margin-top: 5px;
}

.success {
  color: #8ee18e;
  font-size: 0.8rem;
  margin-top: 5px;
}

.formInput {
  text-align: left;
  color: white;
  padding: 10px 0;
  max-width: 100%;
}

.formInput input {
  width: 100%;
}

.formInput span {
  display: block;
  margin-bottom: 10px;
}

.inputPasswordArea {
  display: flex;
  background-color: transparent;
  align-items: center;
  border-bottom: 1px solid #F7DB89;
}

.successPhoneNumber {
  border-bottom: 1px solid rgb(25, 155, 86);
}

.errorPhoneNumber {
  border-bottom: 1px solid red;
}

.inputPhone {
  font-size: 1rem;
  color: #F7DB89;
  border-radius: 0.03rem;
  padding: 10px;
  padding-left: 0px;
  border: none;
  background-color: transparent;
  overflow: hidden;
}


.inputPhone.error {
  border-bottom: 1px solid red;
}

.inputPhone:focus {
  outline: none;
}

.inputPhone::placeholder {
  color: #F7DB89;
  opacity: 0.3;
}

.passwordEye {
  cursor: pointer;
  color: #F7DB89;
}

.inputPassword {
  font-size: 1rem;
  color: #F7DB89;
  border-radius: 0.03rem;
  padding: 10px;
  padding-left: 0px;
  border: none;
  background-color: transparent;
  overflow: hidden;
  max-width: 95%;
}

.inputPassword:active,
.inputPassword:focus-visible {
  border: none;
  outline: none;
}

.label {
  color: white;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.select {
  padding: 10px;
  padding-left: 0px;
  border: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-top: 5px;
  background-color: transparent;
  color: #F7DB89;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #F7DB89;
  outline: none;
}

.select option {
  background-color: #19253F;
}

.inputItem {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px;
  border-bottom: 1px solid #F7DB89;
}

.inputItem .whiteInput {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0px;
  font-size: 1em;
  background-color: transparent;
  color: #F7DB89;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.inputItem .whiteInput:nth-child(2) {
  padding-left: 5px;
}

.inputItem .whiteInput:focus,
.inputItem .whiteInput:hover,
.inputItem .whiteInput:active,
.inputItem .whiteInput:focus-visible {
  outline: none;
}

.agencyRegisterButton {
  margin-top: 0.4rem;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0px;
  color: #202c46;
  background: transparent linear-gradient(180deg, #F6D984 0%, #DFB847 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #F7DB894D;
  border: 2px solid #19253F;
  border-radius: 35px;
  cursor: pointer;
}

.loading {
  background-image: linear-gradient(180deg, #9a9a9a, #a2a2a2 58%, #909090 83%, #d5d9dc);
}