.forgotOverlay {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.forgotContentWrapper {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.imageSection {
  /* background-color: #ACEBFF; */
  background: #F7DB89 0% 0% no-repeat padding-box;
  position: relative;
  display: flex;
}

.titleWrapper {
  background-size: cover;
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  padding-top: 8px;
  font-size: 26px;
  font-weight: bold;
  color: #755903;
  color: #19253f;
}

.linkButtons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* background-color: #ACEBFF; */
  background: #F7DB89 0% 0% no-repeat padding-box;
  padding-bottom: 15px;
}

.helperText {
  color: #755903;
  padding: 0 30px;
  font-weight: bold;
  color: #19253f;
  text-align: center;
}

.buttonWrapper {
  background-color: #19253f;
  border: none;
  width: 85%;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F7DB89;
  cursor: pointer;
}

.buttonWrapper:hover {
  color: #19253f;
  background: transparent linear-gradient(180deg, #c9a94b 0%, #755904 100%);
}

.buttonWrapper:hover .lastBtn {
  color: white;
}

.twoBtns {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
}

.twoBtns img {
  border-radius: 20%;
}

.lastBtn {
  font-size: 14px;
  color: #00BAFF;
}

@media only screen and (max-width: 915px) {
  .imageSection img {
    height: 500px;
  }

  .linkButtons {
    padding-bottom: 40px;
  }

  .titleWrapper {
    font-size: 40px;
  }
}

@media only screen and (max-width: 540px) {
  .imageSection img {
    height: 350px;
  }

  .titleWrapper {
    font-size: 26px;
  }

  .linkButtons {
    gap: 15px;
    padding-bottom: 5px;
  }

  .buttonWrapper {
    padding: 12px;
  }
}

@media only screen and (max-width: 414px) {
  .imageSection img {
    height: auto;
  }
}

@media only screen and (max-width: 360px) {
  .buttonWrapper {
    width: 90%;
  }
}