.formOverlay {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.layout {
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
}

.helptext {
  font-size: 0.8rem;
  color: #F7DB89;
  text-align: left;
  display: block;
  margin: 18px 0px;
}

.helptext.danger {
  color: red;
}


.inputItem {
  border: 0.02rem solid #F7DB89;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 3px;
  margin-top: 15px;
}

.whiteInput::placeholder {
  color: #F7DB89;
  opacity: 0.3;
}

.inputItem .whiteInput {
  color: #F7DB89;
  padding: 10px;
  font-size: 1em;
  font-family: 'Be Vietnam Pro', sans-serif;
  width: 100%;
  background-color: transparent;
}

.inputItem .whiteInput:focus,
.inputItem .whiteInput:hover,
.inputItem .whiteInput:active,
.inputItem .whiteInput:focus-visible {
  outline: none;
  border: none;
}

.select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-top: 15px;
  width: 100%;
  color: #F7DB89;
  border: 0.02rem solid #F7DB89;
  background-color: transparent;
}

select:focus {
  outline: none !important;
}

.select option {
  background-color: #0E182D;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px;
}

.submit {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  padding: 7px 0px;
  background: transparent linear-gradient(180deg, #F6D984 0%, #DFB847 100%) 0% 0% no-repeat padding-box;
  border: 2px solid #19253F;
  border-radius: 35px;
}

.cancel {
  color: #ECD079;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  padding: 5px 0px;
  background: transparent linear-gradient(180deg, #19253F 0%, #0E182D 100%) 0% 0% no-repeat padding-box;
  border: 2px solid #EBCE7C;
  border-radius: 35px;
}

.adjornment {
  font-style: normal;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  width: auto;
  flex: 0 0 0.5rem;
  padding: 0 0.2rem;
}