.select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 15px;
}

.submit {
    box-shadow: 0 0.1rem 0.2rem 0 rgb(255 0 16 / 40%);
    color: #fffefe !important;
    border-radius: 0.4em;
    transition: all .3s linear;
    border: none;
    background-image: -webkit-linear-gradient(-90deg, #ff3a3e, #ff1e30) !important;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}

.cancel {
    color: white;
    border-radius: 0.4em;
    border: none;
    background-color: gray;
    padding: 10px;
    margin-top: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}


.layout {
    flex-grow: 1;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-basis: 0;
    overflow: auto;
}


.adjornment {
    font-style: normal;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    width: auto;
    flex: 0 0 0.5rem;
    padding: 0 0.2rem;
}

.inputItem {
    border: 0.02rem solid #e4e4e4 !important;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    background-color: white;
    margin-top: 15px;
}


.helptext {
    font-size: 0.8rem;
    color: white;
    text-align: left;
    display: block;
    margin-top: 5px;
}

.helptext.danger {
    color: red;
}


.inputItem .whiteInput {
    padding: 10px;
    font-size: 1em;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.inputItem .whiteInput:focus,
.inputItem .whiteInput:hover,
.inputItem .whiteInput:active,
.inputItem .whiteInput:focus-visible {
    outline: none;
    border: none;
}