.profileOverlay {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profileWrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.profileSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.profileImage {
  width: 100px;
  border-radius: 50%;
}

.profileText {
  margin-left: 20px;
}

.userInfoSection {
  color: white;
  padding: 5px;
  border-radius: 20px;
}

.bankDetailItem {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grayLabel {
  font-weight: 500;
  color: #DEB849;
  font-size: 0.7rem;
}

.grayValue {
  font-weight: 500;
  color: #F7DB89;
  font-size: 1rem;
}

.copyButton {
  color: #F7DB89;
  border-radius: 0.3rem;
  padding: 5px 10px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.copyButton:active {
  padding: 8px 16px;
}

.button {
  padding: 10px 15px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #010e33;
  background: transparent linear-gradient(180deg, #F6D984 0%, #DFB847 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #f7db894d;
  border: 3px solid #19253F;
  border-radius: 35px;
  cursor: pointer;
}

.accountInfoWrapper {
  color: #F7DB89;
  display: flex;
  justify-content: space-around;
}

.bankListOverlay {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px 0px;
  width: 100%;
}

.bankCard {
  padding: 10px;
  width: 90%;
  margin: auto;
  text-align: left;
  cursor: pointer;
  background: transparent linear-gradient(90deg, #576B9A 0%, #3A528B 100%) 0% 0% no-repeat padding-box;
  border: 2px solid #F7DB89;
  border-radius: 10px;
}

.bankCard span {
  color: #F7DB89;
  font-size: 14px;
}

.bankWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5px
}

.bankWrapper span {
  font-size: 12px;
}