.profileOverlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.profileHeader {
  display: flex;
  gap: 10px;
  color: white;
}

.profileHeader img {
  width: 25px;
}

.profileHeader span {
  font-size: 14px;
}

.profileBody {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rewardCardWrapper {
  display: flex;
  gap: 10px;
  padding: 12px 10px;
  background: #333D54 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 5px #00000091;
  border-radius: 7px;
}

.mediaImgWrapper img {
  width: 35px;
}

.rewardCardInner {
  flex-grow: 1;
  display: flex;
  gap: 7px;
  flex-direction: column;
  color: white;
}

.rewardCardInner p {
  margin: 0;
  font-size: 14px;
}

.rewardBar {
  color: #19253F;
  text-align: center;
  background-color: white;
  border-radius: 9px;
  font-weight: 600;
}

.rewardCoinsWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}

.rewardCoin {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rewardCoin img {
  width: 25px;
}

.rewardCoinsWrapper div:nth-child(1) {
  color: #FBDF71;
}

.rewardCoinsWrapper div:nth-child(2) {
  color: #88FF88;
}

.rewardCardWrapper button {
  height: fit-content;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  background: transparent linear-gradient(180deg, #5BEE5D 0%, #289405 100%);
  border: 2px solid #C1FFC9;
  border-radius: 21px;
}

/* .profileOverlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  height: 100%;
}

.profileContentOverlay {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.profileCardWrapper {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 13px;
  background: #333D54;
  border: 0.3px solid #ffffff81;
}

.profileCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.depositButtons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #0D2259;
  margin-left: 15px;
}

.depositButton {
  text-decoration: none;
  padding: 10px 0px;
  font-size: 1.2em;
  color: #0D2259;
  font-weight: 600;
  background: transparent linear-gradient(180deg, #F7DB89 0%, #8b6b08 100%);
  border: 1px solid #003766;
  box-shadow: 0px 0px 8px #12327E;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 45%;
  margin: auto;
  text-align: center;
  animation: shake 1.5s ease infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.linkBtn {
  color: white;
  font-weight: 900;
  padding: 10px 30px;
  width: fit-content;
  background: transparent linear-gradient(180deg, #19253F 0%, #0E172A 100%);
  border: 0.3px solid #ffffff81;
  border-radius: 28px;
  border-radius: 30px;
  cursor: pointer;
}

.depositButtonsGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 10px 0px;
}

.depositButtonsGroup .button {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 8px 14px;
  cursor: pointer;
  color: white;
  background: transparent linear-gradient(180deg, #19253F 0%, #0E172A 100%);
  border: 0.3px solid #ffffff81;
  border-radius: 28px;
}

.depositButtonsGroup .button:hover,
.linkBtn:hover {
  background: transparent linear-gradient(180deg, #0E172A 0%, #19253F 100%);
}

.bankDetailItem {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.grayLabel {
  font-weight: 600;
  color: #F7DB89;
  font-size: 0.7rem;
}

.userNameLabel {
  font-size: 9px;
}

.grayValue {
  font-weight: 700;
  color: #F7DB89;
  font-size: 1rem;
}

.userName {
  font-size: 12px;
}

.copyButton {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  color: white;
}

.copyButton span {
  font-size: 14px;
}

.copyButton:active {
  padding: 7px 10px;
}

.depositButton:hover {
  background: transparent linear-gradient(180deg, #8b6b08 0%, #F7DB89 100%);
}

@media only screen and (max-width: 375px) {
  .profileContentOverlay {
    gap: 10px;
  }

  .profileCard {
    flex-wrap: wrap;
    justify-content: center;
  }
} */