.profileImage {
  width: 100px;
  border-radius: 50%;
}


.profileSection {
  display: flex;
  justify-content: left;
  align-items: center;
}

.profileText {
  margin-left: 20px;
}

.layout {
  width: 100%;
  height: 100%;
  background-color: white;
}

.section {
  width: 70%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.button {
  display: inline-block;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  line-height: .7rem;
  padding: 10px;
  font-size: 0.8rem;
  white-space: nowrap;
  font-weight: 700 !important;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  background: linear-gradient(180deg, #fce08d, #b69653);
  color: #010e33;
  margin-bottom: 0.5rem;
}