.formInput {
  text-align: left;
  color: white;
  padding: 10px 0;
  max-width: 100%;
}

.formInput input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #F7DB89;
}

.formInput input:focus {
  outline: none;
}

.formInput span {
  display: block;
  margin-bottom: 10px;
}

.inputPhone {
  font-size: 1rem;
  color: #F7DB89;
  background-color: transparent;
  overflow: hidden;
  max-width: 95%;
}