.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #19253F;
  cursor: pointer;
  background: transparent linear-gradient(180deg, #F6D984 0%, #DFB847 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #F7DB894D;
  border: 3px solid #19253F;
  border-radius: 35px;
  width: 50%;
  margin: 0 auto;
  padding: 8px 10px;
  font-weight: bold;
  margin-top: 10px;
}

.buttonWrapper:hover {
  color: #DFB847;
  border-color: #DFB847;
  background: #19253F;
}