.headerOverlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: #10192D;
}

.headerTitle {
  color: #FCE8AE;
  font-weight: 600;
  font-size: 1rem;
  padding: 7px 0;
  text-transform: uppercase;
}



.loginButtonsOverlay {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.loginButtonsOverlay div {
  display: flex;
  align-items: center;
}

.loginButtons {
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.loginButtons img {
  max-width: 28px;
}

.logOutButton {
  color: #F7DB89;
  padding-right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 360px) {

  .headerOverlay {
    padding: 5px 2px;
  }

  .logoWrapper span {
    font-size: 24px;
  }

  .logoWrapper img {
    width: 80px;
  }

  .loginButtonsOverlay {
    gap: 3px;
  }

  .loginButtons img {
    max-width: 18px;
  }
}