.mainSiteHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    background-color: #19253f;
    align-items: center;
}


.logOutButton {
    color: white;
    padding-right: 10px;
    cursor: pointer;
}