.homeImageMenuIcon {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
   
}

.homeImageMenuIcon a {
    text-decoration: none;
}

.homeImageMenuIcon  img {
    width: 35px;
    height: 35px;
}

.homeImageMenuIcon  span {
    color: white;
    font-weight: 500;
    font-size: 12px;
}