.homeImageMenuIcon {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  position: relative;
  margin: auto;
}

.homeImageMenuIcon div {
  cursor: pointer;
}

.icons {
  color: linear-gradient(180deg, #FFE49A 0%, #E0BB4D 100%);
}

.homeImageMenuIcon div:nth-child(1),
.homeImageMenuIcon div:nth-child(3) {
  padding: 8px;
  border: 2px solid #F7DB89;
  border-bottom-width: 6px;
  border-radius: 13px;
  color: #FFF2CB;
  font-size: 10px;
}

.homeImageMenuIcon div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeImageMenuIcon div:nth-child(2) img {
  width: 220px;
  height: 85px;
}

.homeImageMenuIcon div:nth-child(3) {
  padding: 3px 8px;
}

.goldBubble {
  background: transparent linear-gradient(180deg, #273453 0%, #10192C 100%) 0% 0% no-repeat padding-box;
  box-shadow: inset 1px 3px 14px #19253F4D;
  border: 2px solid #F7DB89;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  transition: all .2s ease-in;
  color: #F7DB89;
}

.goldBubble.sports {
  top: -69%;
  left: 4%;
}

.goldBubble.casino {
  top: -23%;
  left: 18%;
}

.goldBubble.esports {
  top: 58%;
  left: 18%;
}

.goldBubble.lottery {
  top: 94%;
  left: 4%;
}

.goldBubble:hover {
  color: #b69653;
}

.goldBubble:hover,
.goldBubble:active {
  box-shadow: 0 0 10px 0 #9ba5c9;
  background-image: linear-gradient(180deg, #fff, #f8fcfd 58%, #cdd2d8 83%, #d5d9dc);
  /* background-image: linear-gradient(180deg, #6d1e0b 58%, #202c46); */
  /* border: 2px solid transparent; */
}

@keyframes blink {
  50% {
    background-position: center left;
  }

  100% {
    background-position: center center;
  }
}

@media only screen and (max-width: 1368px) {
  .goldBubble.sports {
    top: -51%;
  }

  .goldBubble.casino {
    top: -15%;
    left: 22%;
  }

  .goldBubble.esports {
    left: 22%;
  }

  .goldBubble.lottery {
    top: 94%;
  }
}

@media only screen and (max-width: 1280px) {
  .goldBubble.sports {
    top: -52%;
  }

  .goldBubble.casino {
    top: -15%;
    left: 24%;
  }

  .goldBubble.esports {
    left: 24%;
  }

  .goldBubble.lottery {
    top: 94%;
  }
}

@media only screen and (max-width: 915px) {
  .goldBubble.sports {
    top: -45%;
  }

  .goldBubble.casino {
    top: -2%;
  }

  .goldBubble.esports {
    top: 54%;
  }

  .goldBubble.lottery {
    top: 95%;
  }
}

@media only screen and (max-width: 896px) {
  .goldBubble.sports {
    top: -60%;
    left: 2%;
  }

  .goldBubble.casino {
    top: -21%;
    left: 9%;
  }

  .goldBubble.esports {
    top: 54%;
    left: 9%;
  }

  .goldBubble.lottery {
    top: 93%;
    left: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .goldBubble.casino {
    top: -19%;
  }
}

@media only screen and (max-width: 667px) {

  .goldBubble.casino {
    left: 11%;
  }

  .goldBubble.esports {
    top: 56%;
    left: 11%;
  }
}

@media only screen and (max-width: 540px) {

  .goldBubble.casino,
  .goldBubble.esports {
    left: 13%;
  }

  .goldBubble.lottery {
    top: 94%;
  }
}

@media only screen and (max-width: 414px) {

  .goldBubble.casino,
  .goldBubble.esports {
    left: 17%;
  }

  .goldBubble.lottery {
    top: 93%;
  }

  .homeImageMenuIcon div:nth-child(2) img {
    width: 160px;
  }
}

@media only screen and (max-width: 360px) {
  .goldBubble.sports {
    top: -52%;
    left: 4%;
  }

  .goldBubble.casino {
    top: -15%;
    left: 22%;
  }

  .goldBubble.esports {
    left: 22%;
  }

  .goldBubble.lottery {
    left: 4%;
  }

  .homeImageMenuIcon div:nth-child(2) img {
    width: 120px;
  }
}

@media only screen and (max-width: 280px) {
  .goldBubble.casino {
    top: -12%;
    left: 24%;
  }

  .goldBubble.esports {
    left: 24%;
    top: 54%;
  }

  .homeImageMenuIcon div:nth-child(1) {
    padding: 1px 7px;
  }
}