.homeImageMenuIcon {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(180deg,#304063,#202c46);
    box-shadow: inset 0 0 0.12rem 0 hsl(41deg 37% 80% / 36%);
    border: 1px solid #424a62;
   
}

.homeImageMenuIcon a {
    text-decoration: none;
}

.homeImageMenuIcon  img {
    width: 35px;
    height: 35px;
}

.homeImageMenuIcon  span {
    color: white;
    font-weight: 500;
    font-size: 12px;
}