.innerHeader {
  background-color: #10192D;
  color: #FCE8AE;
  padding: 12px 8px 12px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerHeader div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerTitle {
  font-weight: 700;
  font-size: 1.2rem !important;
  text-transform: uppercase;
}

.profileIcon {
  display: flex;
  align-items: center;
  color: #FCE8AE;
  cursor: pointer;
}

@media only screen and (max-width: 414px) {
  .headerTitle {
    font-size: 0.8rem !important;
    text-align: center;
  }
}