.inerHeaderOverlay {
  background: #F7DB89 0% 0% no-repeat padding-box;
  border-radius: 13px;
  padding-bottom: 3px;
}

.innerHeader {
  background-color: #19253f;
  color: #F7DB89;
  padding: 10px 8px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.innerHeader div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerTitle {
  font-weight: 700;
  font-size: 1.2rem !important;
  text-transform: uppercase;
}

.profileIcon {
  display: flex;
  align-items: center;
  color: #F7DB89;
  cursor: pointer;
}