.modalOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingSection {
  width: 300px;
  text-align: center;
  padding: 30px 15px;
  margin: 10px;
  background: #333D54;
  border: 1px solid white;
  border-radius: 13px;
}

.errorImg {
  width: 60px;
  margin-bottom: 15px;
}