.modalOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingSection {
  width: 300px;
  text-align: center;
  padding: 30px 15px;
  margin: 10px;
  background: #19253F 0% 0% no-repeat padding-box;
  border: 1px solid #F7DB89;
  border-radius: 13px;
}

.errorImg {
  width: 60px;
  margin-bottom: 15px;
}

a.myLink {
  background: linear-gradient(55deg, #E94C00 15%, #FFC9A0 37%, #E94C00 40%) center right / 300% 100% no-repeat;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.7em;
  margin-top: 20px;
  display: block;
  font-weight: 600;
  font-size: 1em;
}