.singleTranWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0px;
}

.titleWrapper h3 {
  margin: 0;
}

.singleTranContentOverlay {
  width: 90%;
  margin: 5px auto;
  flex-grow: 1;
  overflow: auto;
}

.singleTranContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #333D54;
  border-radius: 13px;
  padding: 10px 20px;
}

.bankDetailItem {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(247, 219, 137);
}

.copyLabel {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.copyValue {
  font-weight: bold;
}

.copyBtnValue {
  font-size: 22px;
  color: rgb(5, 151, 5);
}

.smallValue {
  font-size: 12px;
}

.redText {
  color: #F93B3B;
}

.copyButton {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  color: white;
}

.copyButton span {
  font-size: 14px;
}

.copyButton:active {
  padding: 3px;
}