.bottomMenuLayout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #10192D;
  padding: 5px 0px;
}

.menuItem {
  color: #847459;
  text-align: center;
  cursor: pointer;
}

.menuItem img {
  width: 40px;
}

.menuItem span {
  display: block;
  font-size: 0.7rem;
}

@media only screen and (max-width: 390px) {
  .menuItem img {
    width: 32px;
  }
}