.App {
  background-color: #19253F;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.register-login-section {
  width: 100%;
  display: flex;
  justify-content: center;

}

.register-login-section a {
  display: block;
  width: 50%;
  padding: 20px 15px;
  text-decoration: none;
  font-weight: 700;
}

.login-button {
  background-image: linear-gradient(180deg, #f1474c, #c71e23);
  color: #fff;

}

.register-button {
  background: linear-gradient(180deg, #fce08d, #b69653);
  color: #010e33;

}


.MuiPaper-root.MuiPaper-elevation.MuiDrawer-paper {
  width: 100%;
  background: linear-gradient(180deg, #202c46, #304063);
}


.MuiButtonBase-root.MuiTab-root {
  color: white;
}



.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}