.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
.animbutton.animbutton {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #FFC9A0;
    background: linear-gradient(90deg, #FFC9A0  0%, #E94C00 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 5px 5px 24px #E94C00;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 20px 30px;
}
  
  button.animbutton::before {
    content: '';
    border-radius: 1000px;
    border: 6px solid #FFC9A0;
    box-shadow: 0 0 60px #FFC9A0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  button.animbutton {
    color: #313133;
    transform: translateY(-6px);
  }
  
  /* button.animbutton:hover::before, button.animbutton:focus::before {
    opacity: 1;
  } */
  
  button.animbutton::after {
    content: '';
    border-radius: 100%;
    border: 6px solid #e94e0095;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  
  @keyframes ring {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;

    }
    100% {
      width: 170px;
      height: 50px;
      opacity: 0;
    }
}